.idea
.php_cs.cache
.phpunit.result.cache
composer.lock
phpunit.xml
vendor
phpstan-quality-report.json
tests/tmp/db.sqlite
/var/log/
/var/connector.s3db
/var/connector.s3db-shm
/var/connector.s3db-wal
config/config.json
.env.local